certifi==2019.6.16
chardet==3.0.4
Django==2.2.18
django-bootstrap3==11.1.0
django-bootstrap3-datetimepicker-2==2.8.2
django-forms-bootstrap==3.1.0
future==0.17.1
idna==2.8
mysqlclient==1.4.4
PyJWT==1.7.1
PyMySQL==0.9.3
python-dateutil==2.8.0
pytz==2019.2
requests==2.22.0
six==1.12.0
sqlparse==0.3.0
urllib3==1.25.3
