.pad-hd-sp {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
}

.reg_page {
    position: relative;
    padding-top: 20px;
}

.login-pg {
    background-image: url('https://s3-us-west-2.amazonaws.com/okta-activity-timekeeper/static/okta-mints.png');
    background-repeat: repeat;
    background-position: center center fixed;
    position: relative;
    padding-top: 20px;
    padding-bottom: 50%;
}

.add-task {
    position: relative;
    padding-top: 20px;
}

.list-task {
    position: relative;
    padding-top: 20px;
}

.import_form {
    position: relative;
    padding-top: 20px;
}

.preference_form {
    position: relative;
    padding-top: 20px;
}

.temp {
    position: relative;
    padding-top: 10%;
    padding-bottom: 15%;
    padding-left: 5%;
    padding-right: 5%;
}

.ref-lb {
    color: #99d6ff;
}

.hidden {
    display: none;
}
