{% extends "base.html" %}
{% block title %}Force.com authorize callback{% endblock %}

{% block content %}
{% endblock %}

{% block page_js %}
<script type="text/javascript">
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    var urlParams;
    (window.onpopstate = function () {
        var match,
            pl     = /\+/g,  // Regex for replacing addition symbol with a space
            search = /([^&=]+)=?([^&]*)/g,
            decode = function (s) { return decodeURIComponent(s.replace(pl, " ")); },
            query  = window.location.search.substring(1);

        urlParams = {};
        while (match = search.exec(query))
           urlParams[decode(match[1])] = decode(match[2]);
    })();
    var access_code = urlParams['code'];
    console.log(access_code);


    var xhttp = new XMLHttpRequest();
    url = "/sfdc/oauth/token/"

    xhttp.onreadystatechange = function() {
        window.location.href = '/';
    }
    xhttp.open("POST", url, false);
    xhttp.setRequestHeader('X-CSRFToken', csrftoken);
    xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    xhttp.send(JSON.stringify({"code": access_code }));


</script>
{% endblock %}