{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/1.10.0/js/okta-sign-in.min.js" type="text/javascript"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
{% endblock %}
{% block page_css %}
	<link href="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/1.10.0/css/okta-sign-in.min.css" type="text/css" rel="stylesheet">
	<link href="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/1.10.0/css/okta-theme.css" type="text/css" rel="stylesheet">
{% endblock %}


{% block content %}
<div id="okta-org" class="hidden">{{ okta_org }}</div>
<div class="login-pg">
	{% csrf_token %}
	<div id="okta-login-container"></div>
</div>
{% endblock %}

{% load static %}
{% block page_js %}
<script src="{% static 'js/home.min.js' %}" type="text/javascript"></script>
{% endblock page_js %}

