{% extends "base.html" %}
{% block title %}Tasks{% endblock %}

{% block head_js %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="list-task" id="list_tasks">

        <div id="has_token_flag" class="hidden">{% if has_token %}1{% else %}0{% endif %}</div>

        <div id="import_btn" class="container-fluid">
            <div class="row">
                <div class="col-xs-offset-9 col-xs-3">
                    <a href="{% url 'import_options' %}" class="btn btn-primary">Import</a>
                </div>
            </div>
        </div>
        {% for d in dates %}
        <div id="date_border">
            <p>{{ d }}</p>
        </div>
        <table id="task_tbl" class="table table-hover">
            <tbody id="task_tbl_bd">
                {% for t in tasks %}
                {% if t.start_date_local == d %}
                <tr id="row_{{ t.id }}">
                    <td class="hidden">{{ t.id }}</td>
                    <td id="summary_{{ t.id }}" class="col-xs-6"
                        onclick="taskDetails({{ t.id }})">
                        <table>
                            <tr><td style="font-size:10px">{{ t.start_time }} - {{ t.end_time }}<br/></td></tr>
                            <tr><td>{{ t.summary }}</td></tr>
                            <tr id="desc_{{ t.id }}" class="hidden"><td style="font-size:11px">
                                <br/>
                                {% for detail in t.desc %}
                                    {{ detail }}<br/>
                                {% endfor %}
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td id="actions_{{ t.id }}" class="col-xs-3">
                        <div class="btn-group" role="group">
                            <a href="{% url 'task' t.id %}" class="btn btn-default btn-sm">
                                &nbsp;&nbsp;<span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;
                            </a>
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li onclick="recordTask({{ t.id }}, 'Admin')"><a href="#">Admin</a></li>
                                <li onclick="recordTask({{ t.id }}, 'Travel')"><a href="#">Travel</a></li>
                                <li onclick="recordTask({{ t.id }}, 'Marketing Event')"><a href="#">Marketing Event</a></li>
                                <li onclick="recordTask({{ t.id }}, 'Training')"><a href="#">Training</a></li>
                                <li role="separator" class="divider"></li>
                                <li onclick="dismissTask({{ t.id }})"><a><span class="glyphicon glyphicon-remove-circle"></span>&nbsp;&nbsp;Dismiss</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>

        {% endfor %}
    </div>
</div>
{% endblock content %}
