{% extends "base.html" %}
{% block title %}Add Task{% endblock %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
{{ form.media }}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
{% endblock head %}

{% block content %}
<div class="container">
    <div class="add-task">

        <form class="form-horizontal" name="TaskForm" action="{% url 'task' id %}" method="post" role="form">
            {% csrf_token %}

            <button type="submit" class="btn btn-primary btn-sm">Submit</button>
            <hr/>

            {% for field in form.visible_fields %}
            <div class="form-group {% if field.errors %} has-error {% endif %}">
                <div class="col-sm-5">
                    {{ field }}
                </div>
                <div class="help-block">
                    {{ field.errors }}
                </div>
            </div>
            {% endfor %}

            <div class="form-group">
                <div class="hidden">
                    <input type="text" id="opportunity_id" name="opportunity_id" placeholder="opportunity_id">
                </div>
            </div>

            <div class="form-group form-group-sm">
                <label class="col-sm-1 control-label">Opportunity:  </label>
                <div class="col-sm-4" id="selectedOp">
                </div>
                <div class="col-sm-4" id="selectedOpId">
                </div>
            </div>
            <div class="form-group form-group-sm">
                <div class="col-sm-3">
                    <div class="input-group">
                        <input type="text" class="form-control" id="searchOp" name="searchString" placeholder="Search">
                        <div class="input-group-btn">
                            <button class="btn btn-default btn-sm" type="button" onclick="searchOpptys()">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>

    <table id="search_table" class = "table table-hover">
        <thead id="tab_head">
        </thead>
        <tbody id="search_results">
        </tbody>
    </table>
</div>
{% endblock content %}

{% block page_js %}
    {{ form.media }}

    <script type="text/javascript">
    var searchOp = document.getElementById('searchOp');

    function searchOpptys() {
        var xhttp = new XMLHttpRequest();

        url = "/sfdc/search/";
        q = searchOp.value;
        if (q.length >= 3) {
            url += '?q=' + q;
        }

        xhttp.open("GET", url);
        xhttp.setRequestHeader('Accept', 'application/json');
        xhttp.setRequestHeader('Content-Type', 'application/json');
        xhttp.send();
        xhttp.onreadystatechange = function() {
            if (xhttp.status == 401) {
                window.location.href = '/sfdc/oauth/init';
            }
            recents = JSON.parse(xhttp.responseText);
            opportunities = recents.opportunities;
            drawTable(opportunities);
        }

    }

    function drawTable(tableData) {
        var i;
        var draw = "";
        for(i = 0; i < tableData.length; i++) {
            draw += '<tr>' +
            '<td style="display:none">' + tableData[i].Id + '</td>' +
            '<td style="display:none">' + tableData[i].Name + '</td>' +
            '<td>' + tableData[i].Name +
            '<br><p style="font-size:11px">' +
            'Owner:&nbsp;' + tableData[i].Owner + '&nbsp;&nbsp;Amount:&nbsp;' + tableData[i].Amount +
            '</p>' +
            '</td>' +
            '<td style="font-size:11px">' + tableData[i].Stage + '<br>' + 'Close:&nbsp;' + tableData[i].CloseDate + '</td>' +
            '</tr>';
        }
        document.getElementById('search_results').innerHTML = draw;
        document.getElementById('selectedOp').innerHTML = '';
        document.getElementById('selectedOpId').innerHTML = '';
    }


    var tbody = document.getElementById("search_results");
    tbody.onclick = function (e) {
        e = e || window.event;
        var target = e.srcElement || e.target;
        while (target && target.nodeName !== "TR") {
            target = target.parentNode;
        }
        if (target) {
            var cells = target.getElementsByTagName("td");
            var op = cells[1].innerHTML;
            var opId = cells[0].innerHTML;
        }

        document.getElementById('selectedOp').innerHTML = '<p class="form-control-static">' + op + '</p>';
        document.getElementById('selectedOpId').innerHTML = '<p class="form-control-static">' + opId + '</p>';
        document.getElementById('opportunity_id').value = opId;

        document.getElementById('search_results').innerHTML = '';
        document.getElementById('tab_head').innerHTML = '';
    };

    </script>
{% endblock page_js %}
